---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/search/companies?q=bankbond
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic aWx0TTNrTFZyNElZM0U3a01xR3R1bVAxM0syQUZvMDdaMWpQV3MxLTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '599'
      X-Ratelimit-Reset:
      - '1531023583'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"page_number":1,"items":[{"matches":{"snippet":[],"title":[1,8]},"description_identifier":["incorporated-on"],"kind":"searchresults#company","links":{"self":"/company/05275061"},"date_of_creation":"2004-11-01","company_number":"05275061","company_type":"ltd","snippet":"","company_status":"active","address":{"address_line_2":"Howard
        Avenue","premises":"Unit 2","region":"Devon","locality":"Barnstaple","postal_code":"EX32
        8QA"},"description":"05275061 - Incorporated on  1 November 2004","title":"BANKBOND
        LIMITED","address_snippet":"Unit 2 Howard Avenue, Barnstaple, Devon, EX32
        8QA"},{"company_status":"active","snippet":"BANKBOND ","title":"JANI-JACK
        LIMITED","address_snippet":"Myrtle Yard, Curry Rivel, Langport, Somerset,
        TA10 0PP","address":{"premises":"Myrtle Yard","region":"Somerset","postal_code":"TA10
        0PP","locality":"Langport","address_line_1":"Curry Rivel"},"description":"05031852
        - Incorporated on  2 February 2004","links":{"self":"/company/05031852"},"kind":"searchresults#company","matches":{"snippet":[1,8]},"description_identifier":["incorporated-on"],"company_number":"05031852","company_type":"ltd","date_of_creation":"2004-02-02"},{"company_type":"ltd","company_number":"05210642","date_of_creation":"2004-08-19","links":{"self":"/company/05210642"},"kind":"searchresults#company","matches":{"snippet":[1,8]},"description_identifier":["incorporated-on"],"title":"SWARLAND
        GOLF CLUB LIMITED","address_snippet":"Marton Hall Church Lane, Sewerby, Bridlington,
        East Yorkshire, YO15 1DS","address":{"region":"East Yorkshire","premises":"Marton
        Hall Church Lane","locality":"Bridlington","address_line_1":"Sewerby","postal_code":"YO15
        1DS"},"description":"05210642 - Incorporated on 19 August 2004","company_status":"active","snippet":"BANKBOND
        "}],"total_results":3,"start_index":0,"items_per_page":20,"kind":"search#companies"}'
  recorded_at: Sun, 08 Jul 2018 04:14:43 GMT
recorded_with: VCR 4.0.0
