---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/search/companies?q=bankbond
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic aWx0TTNrTFZyNElZM0U3a01xR3R1bVAxM0syQUZvMDdaMWpQV3MxLTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '599'
      X-Ratelimit-Reset:
      - '1530911363'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"start_index":0,"page_number":1,"kind":"search#companies","items":[{"company_status":"active","links":{"self":"/company/05275061"},"snippet":"","matches":{"title":[1,8],"snippet":[]},"description_identifier":["incorporated-on"],"description":"05275061
        - Incorporated on  1 November 2004","kind":"searchresults#company","address":{"locality":"Barnstaple","premises":"Unit
        2","address_line_2":"Howard Avenue","postal_code":"EX32 8QA","region":"Devon"},"address_snippet":"Unit
        2 Howard Avenue, Barnstaple, Devon, EX32 8QA","date_of_creation":"2004-11-01","company_type":"ltd","title":"BANKBOND
        LIMITED","company_number":"05275061"},{"company_number":"05031852","company_type":"ltd","title":"JANI-JACK
        LIMITED","address_snippet":"Myrtle Yard, Curry Rivel, Langport, Somerset,
        TA10 0PP","address":{"address_line_1":"Curry Rivel","locality":"Langport","premises":"Myrtle
        Yard","region":"Somerset","postal_code":"TA10 0PP"},"date_of_creation":"2004-02-02","description":"05031852
        - Incorporated on  2 February 2004","kind":"searchresults#company","matches":{"snippet":[1,8]},"description_identifier":["incorporated-on"],"snippet":"BANKBOND
        ","company_status":"active","links":{"self":"/company/05031852"}},{"description":"05210642
        - Incorporated on 19 August 2004","kind":"searchresults#company","snippet":"BANKBOND
        ","company_status":"active","links":{"self":"/company/05210642"},"description_identifier":["incorporated-on"],"matches":{"snippet":[1,8]},"title":"SWARLAND
        GOLF CLUB LIMITED","company_type":"ltd","company_number":"05210642","date_of_creation":"2004-08-19","address":{"postal_code":"YO15
        1DS","region":"East Yorkshire","premises":"Marton Hall Church Lane","locality":"Bridlington","address_line_1":"Sewerby"},"address_snippet":"Marton
        Hall Church Lane, Sewerby, Bridlington, East Yorkshire, YO15 1DS"}],"total_results":3,"items_per_page":20}'
  recorded_at: Fri, 06 Jul 2018 21:04:23 GMT
recorded_with: VCR 4.0.0
