main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-list {
  margin: 2rem;
  text-align: center;
  td {
    line-height: 1.5rem;
  }
}

.officers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .officer {
    text-align: center;
  }
}

.address {
  text-align: center;
}

.import {
  font-size: 1rem;
  border: 0.05rem solid black;
}

input:hover {
  cursor: pointer;
}
